/* banner pic */
#main > section.one {
    background-color: #81918E;
    background-image: url("../../images/wallpaper.jpg");
}


/* banner pic button */
.button {
    position: relative;
    display: inline-block;
    border-radius: 0.35em;
    color: #fff !important;
    text-decoration: none;
    padding: 0.75em 2.5em 0.75em 2.5em;
    background-color: #FFFF77;
    border: 0;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
}
.button:hover {
    background-color: #e5e56b;
}
strong{
    font-weight: 600;
}

form input[type="text"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form select:focus,
		form textarea:focus {
			box-shadow: 0 0 2px 1px #55FFFF;
			background: #fff;
        }
        

/* nav */
#header {
    background: #f1f1f1 url("images/overlay.png");
    /* box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1); */
    color: #000;

}
#logo h1 {
    color: #303030;
    font-weight: 600;
    font-size: 1em;
}
#logo p {
    font-size: 0.6em;
    color: #303030;
    }

#nav ul li a {
    color: #303030;
}
strong{
    font-weight: 600;
}
#nav ul li a.active span:before {
    color: #339999;
}

#profilePic{
    border-radius: 50%;
    background-color: none;
}
i{
    padding: 0px 10px;
    margin: 20px 40px;
}

#aboutme-pic{
    border-radius: 50%;
    width: 40%;
    height: 40%;
    margin: 0 auto;
}